.main {
  display: flex;
  flex: 1;
  .taskContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      to right,
      rgb(165, 234, 255),
      rgb(46, 142, 231)
    );
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 2rem;
    font-size: 1.3rem;
  }
  .navBar {
    color: black;
    background: white;
    border: 1px solid rgb(211, 211, 211);
    border-top: none;
    border-right: none;
    padding: 2rem;
  }
}
